extends layouts/main-layout.pug 

block styles 
    link(rel="stylesheet" href="/css/main.css")
block content
    main
        if prods.length > 0
                    .grid
                        each product in prods 
                            article.card.product-item 
                                header.card_header 
                                    h1.product_title #{product.title}
                                div.card_image
                                    
                                    .card_content 
                                        h2.product_price $19.99
                                        p.product_description A very interesting book about so many even more interesting things!
                                    .card_actions 
                                        button.btn Add to Card
        else 
            h1 No Products